{
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-astro",
        "prettier-plugin-astro-organize-imports"
    ],
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true
}
