---
import { getCollection } from "astro:content";
import clsx from "clsx";
import Selection, { type SelectionProps } from "./Selection.astro";

interface Props extends SelectionProps {
    currrent_dumpdate: string | undefined;
}

const { currrent_dumpdate, ...rest } = Astro.props;
const items = (await getCollection("stats")).map((c) => c.id).reverse();
---

<Selection
    currrent_item={currrent_dumpdate}
    {items}
    what="Dump dates"
    {...rest}
    get_url={(item) => item}>
    <a
        slot="global"
        href={"latest"}
        class={clsx(
            currrent_dumpdate == "latest" ? "font-bold" : "font-normal",
        )}>
        LATEST
    </a>
</Selection>
