---
import clsx from "clsx";
import { get_supported_wikis } from "../../db/constants";
import Selection, { type SelectionProps } from "./Selection.astro";

interface Props extends SelectionProps {
    currrent_wikiname?: string | undefined;
    global_possible?: boolean;
    dump_date?: string;
    noscript?: boolean;
    dir?: string;
}

const {
    currrent_wikiname,
    dir,
    global_possible,
    dump_date,
    noscript,
    ...rest
} = Astro.props;
const wikis = await get_supported_wikis(dump_date || "latest");
---

<Selection
    currrent_item={currrent_wikiname}
    items={wikis}
    what="Wikis"
    {...rest}
    get_url={(item) =>
        ["/wiki", item, noscript ? "noscript" : "", dir]
            .filter(Boolean)
            .join("/")}>
    {
        global_possible && (
            <a
                slot="global"
                href={`/wiki/${dir}`}
                class={clsx(
                    currrent_wikiname === undefined
                        ? "font-bold"
                        : "font-normal",
                    "text-center-a",
                )}>
                GLOBAL
            </a>
        )
    }
</Selection>
