SITE="https://yourdomain.com"


GRAPHS_WIKIS_DIR=# for the graph files
DB_WIKIS_BASEPATH= # contains sqlite and download directory
DB_WIKIS_DIR='$DB_WIKIS_BASEPATH/<dumpdate>/sqlite'


STATS_OUTPUT_PATH="/web-server/src/content/stats/"

# DEPLOYMENT 
DEPLOY_HOST=
DEPLOY_LOCATION=
#SP_SERVER="http://localhost:1870" # where the rust shortest path server runs
SP_SERVER="http://sp-server:1870" # in prod

DEPLOY_TARGET_ARCH="x86_64-unknown-linux-gnu"

WIKIPEDIA_REST_API_USER_AGENT=

SUPPORTED_WIKIS= # the wikis you want to download and generate stats for e.g. "dewiki eswiki"

# TASK-SCHEDULING
WIKI_CLI_BINARY="<your path>/wiki-stats-rs/target/release/cli"
REBUILD_SERVER_BIN="<your path>/trigger-update.sh"
TASK_SCHEDULING_SIMULATE="false"
TASK_SCHEDULING_SCHEDULE="0 * * * *" # every hour at minute 0
# 24hour
ADD_SAMPLE_STATS_START_HOUR="1"
ADD_SAMPLE_STATS_END_HOUR="5"

# MAIL Alerts, comment to receive no mails 
# Outlook does not work with less secure apps anymore
# SMTP_SERVER
# SMTP_PORT="587"
# SMTP_USER
# SMTP_PASSWORD

# email address to send alerts to
# ALERT_EMAIL_ADDRESS=

# MAILGUN_API_KEY=
# MAIL_GUN_DOMAIN=

ENV=development

# REDIS, rabbitmq
# REDIS_HOST="localhost"
# REDIS_PORT="6379"
# RABBITMQ_HOST="localhost"
# RABBITMQ_PORT="5672"
