---
import { getEntry } from "astro:content";
import { version } from "../../package.json";
import { get_latest_date } from "../db/constants";
import { formatDumpDate } from "../utils";

const latest_dump = await get_latest_date();
const stats_created_at = latest_dump
    ? (await getEntry("stats", latest_dump))?.data.created_at
    : undefined;

const supported_wikis = import.meta.env.SUPPORTED_WIKIS?.split(",");

const latest_dump_date = latest_dump
    ? formatDumpDate(latest_dump) + " (UTC)"
    : "N/A";
---

<footer
    class="bg-neutral-900 text-white dark:text-neutral-100 absolute -bottom-[200px]
            backdrop-blur-3xl overflow-hidden grid place-items-center
            w-full text-sm text-center py-2">
    <div class="blob"></div>

    <div>
        {
            stats_created_at != null ? (
                <div class="flex flex-wrap gap-5 justify-center">
                    <div class=" grid grid-rows-2">
                        <span class="font-bold">Latest Database dump</span>
                        {latest_dump_date}
                    </div>

                    <div class="grid grid-rows-2">
                        <span class="font-bold">Stats generated at</span>
                        {new Date(stats_created_at * 1000).toDateString()}
                    </div>

                    {supported_wikis && (
                        <div class="grid grid-rows-2">
                            <span class="font-bold">
                                Wikis supported ({supported_wikis.length})
                            </span>
                            {supported_wikis.join(", ") || "None"}
                        </div>
                    )}
                </div>
            ) : (
                <span>No stats generated</span>
            )
        }
        <div class="flex justify-around mt-2 footer-links">
            <a href="/wiki/all/latest">All wikis</a>
            <a href="/wiki/stats/history">History</a>
            <a href="/wiki/graph">Graphs</a>
            <a href="/wiki/noscript/path">NoScript SP</a>
        </div>
    </div>

    <p class="mt-2">
        <a href="https://gaareth.com" class="text-white dark:text-neutral-100">
            @Gaareth
        </a>
    </p>
    <p
        class="absolute bottom-0 text-sm text-right px-3 w-full text-neutral-300">
        V{version}
    </p>
</footer>

<style>
    .blob {
        position: absolute;
        opacity: 0.5;
        width: 400px;
        aspect-ratio: 1/1;
        border-radius: 79% 23% 100% 32% / 85% 54% 46% 42%;

        filter: blur(40px);
        z-index: -1;
        background: linear-gradient(47deg, #3245ff 21%, #b845ed 76%);
    }

    .footer-links a {
        @apply text-gray-300 dark:text-gray-400;
    }
</style>
