---
import { Image } from "astro:assets";
import darkLogo from "../../public/logo-dark.svg";
import whiteLogo from "../../public/logo-white.svg";
import { cn } from "../utils";
import Nav from "./SPC/Header/nav.astro";
import ThemeToggle from "./ThemeToggle";
---

<header>
    <div class="px-4 lg:px-6 py-2.5 mb-5 sm:mb-0">
        <div
            class="grid grid-cols-1 sm:grid-cols-3 gap-3 justify-between items-center mx-auto max-w-screen-xl"
        >
            <div class="w-full flex justify-between items-center sm:w-auto">
                <a class="flex gap-2 items-center !no-underline" href="/">
                    <div class="dark:block hidden">
                        <Image
                            src={darkLogo}
                            alt="W with a small maginifying glass in the lower right corner"
                            width={50}
                            height={50}
                        />
                    </div>
                    <div class="dark:hidden block">
                        <Image
                            src={whiteLogo}
                            alt="W with a small maginifying glass in the lower right corner"
                            width={50}
                            height={50}
                        />
                    </div>
                    <span
                        class={cn(
                            "text-gradient_start",
                            Astro.url.pathname == "/" && "font-bold",
                        )}
                    >
                        WikiStats
                    </span>
                </a>

                <button
                    type="button"
                    class="sm:hidden inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-dark_01 dark:focus:ring-gray-600"
                    aria-controls="navbar"
                    aria-expanded="false"
                    data-collapse-toggle="navbar"
                >
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15"></path>
                    </svg>
                </button>
            </div>

            <div
                class="hidden w-full sm:flex sm:col-span-2 items-center"
                id="navbar"
            >
                <Nav />
                <div class="px-3 py-2 w-full sm:w-auto sm:p-0 ml-auto">
                    <ThemeToggle client:load class="w-full sm:w-auto" />
                </div>
            </div>

            <noscript><Nav /></noscript>
        </div>
    </div>
</header>
