---
import Layout from "../layouts/Layout.astro";
import "../styles/prose.scss";
---

<Layout title="WikiStats - Insights">
    <main class="max-w-4xl mx-auto flex flex-col gap-3 prose">
        <h1 class="mb-0">Insights</h1>
        <p>
            The most important insight is probably to actually document
            everthing properly and don't leave everthing as if I could remember
            it in a year.
        </p>

        <section>
            <h2>Data</h2>
            <p>dumps</p>
        </section>

        <section>
            <h2>SQL<span class="text-secondary">ite</span></h2>
            <p>.expert</p>
        </section>

        <section>
            <h2>Misc.</h2>
            <p>parallel</p>
            <p>BFS-Bidirectional</p>
        </section>

        <p>
            removing redirects seemed to reduce the final db size by 10% which
            might by okay as the resolving them would result in much longer db
            creation time (I guess)
        </p>
    </main>
</Layout>
